# ====================== .NET сборка ======================
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userprefs

# ====================== NuGet ======================
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

# ====================== Visual Studio ======================
.vs/
*.DotSettings.user

# ====================== Rider ======================
.idea/
*.sln.iml

# ====================== VS Code ======================
.vscode/

# ====================== Docker ======================
postgres_data/

# ====================== OS ======================
.DS_Store
Thumbs.db
desktop.ini

# ====================== Логи ======================
*.log
*.tmp